<div class="apartment">
  <h2><%= @apartment.title %></h2>
  <p><%= @apartment.description %></p>
</div>

<style>.apartment {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Стили для заголовка объекта */
.apartment h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Стили для описания объекта */
.apartment p {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}</style>